<nav>
    <ul>
      <li>
        <a routerLink="">
            <i class="material-icons">tab</i>
        </a>
      </li>
      <li>
          <a routerLink="form/add">
            <i class="material-icons">add_circle</i>
          </a>
        </li>
        <li>
            <a routerLink="help">
                <i class="material-icons">help</i>
            </a>
        </li>
        <li>
          <a routerLink="import_export">
              <i class="material-icons">import_export</i>
          </a>
      </li>
    </ul>
  </nav>



